<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="row text-center">

<%= link_to "Recruteur", new_company_registration_path, {class: "btn btn-primary"} %>

<%= link_to "Refugenius", new_user_registration_path, {class: "btn btn-primary"} %>

</div>